body{
    background: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container3{
    width: 500px;
    margin: 10% auto;
}

.contact-form4{
    background-color: #FF9800;
    padding: 60px;

}


.form5{
    position: relative;
    top: 10px;
}


.form-control6 {
    width: 90%;
    height: 25px;
    margin-bottom: 16px;
    padding: 10px;
   

}

.form-control6[type="submit"]
    {   
    background: #9e9696;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.btn2 {
    position: absolute;
    top: 95%;
    left: 17%;
    width: 225px;
    height: 35px;
    text-align: center;
    color: rgb(29, 32, 30);
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.6s ease;

}
.btn:hover{
	 box-shadow: 3px 4px 10px black;
}